body {
	font-family: 'Lato', Helvetica, sans-serif;
}


h1, h2 {
 	letter-spacing: .25em;
 	color: #333333;
}

p {
 	letter-spacing: .125em;
 	color: #888888;
 	font-weight: 300;
 	font-size: 16px;
 	line-height: 2em;
}

.mb-40 {
	margin-bottom: 40px;
}

.container {
	max-width: 900px;
}

.container.spaced {
	padding-top: 50px;
	padding-bottom: 50px;
}

.jumbotron {
	background-image: url("../img/hero.jpg");
	background-position: center center;
	background-size: cover;


 	letter-spacing: .25em;
}

.jumbotron h2, .jumbotron p, .jumbotron i,
.dark-bg h2, .dark-bg p, .dark-bg i {
	color: white;
}

.chamada{
	margin: 50px auto 30px;
}

.capunga-logo {
	margin-top: 50px;
	width: 200px;
}

.jumbotron i {
	font-family: 'Bitter', serif;
}

.dark-bg {
	background-color: #935625;
	color: white;
}

.table	{
	margin: 0;
	padding: 0;
	border-spacing: 0;

	display: table;
}

.table-row	{
	display: table-row;
}

.table-cell	{
	display: table-cell;
}

.beer-photo {
	width: 400px;
	height: 100%;
	background-image: url("../img/capunga_lager.jpg");
	background-size: cover;
	background-position: center center;
}

.beer-description {
	padding: 50px;
}