body {
	font-family: 'Lato', Helvetica, sans-serif;
}


h1, h2 {
 	letter-spacing: .25em;
 	color: #333333;
}

p {
 	letter-spacing: .125em;
 	color: #888888;
 	font-weight: 300;
 	font-size: 16px;
 	line-height: 2em;
}

.mb-40 {
	margin-bottom: 40px;
}

.container {
	max-width: 900px;
}

.container.spaced {
	padding-top: 50px;
	padding-bottom: 50px;
}

.jumbotron {
	background-image: url("../img/hero2-dark.jpg");
	background-position: center center;
	background-size: cover;


 	letter-spacing: .25em;
}

.jumbotron h2, .jumbotron p, .jumbotron i,
.dark-bg h2, .dark-bg p, .dark-bg i {
	color: white;
}

.chamada{
	margin: 20px auto 30px;
}

.capunga-logo {
	margin-top: 50px;
	width: 200px;
}

.jumbotron i {
	font-family: 'Bitter', serif;
}

.green-bg {
	background-color: #12a89d;
	color: white;
}

.red-bg {
	background-color: #b11016;
	color: white;
}

.green-bg h2, .red-bg h2, .green-bg b, .red-bg b, .green-bg a, .red-bg a{
	color: white;
}

.green-bg p, .red-bg p{
	color: lightgray;
}

.table	{
	margin: 0;
	padding: 0;
	border-spacing: 0;

	display: table;
}

.table-row	{
	display: table-row;
}

.table-cell	{
	display: table-cell;
}

.beer-photo {
	width: 400px;
	height: 100%;
}

.beer-lager {
	background-image: url("../img/capunga_lager.jpg");
	background-size: cover;
	background-position: bottom center;
}

.beer-apa {
	background-image: url("../img/capunga_apa.jpg");
	background-size: cover;
	background-position: bottom center;
}

.beer-description {
	padding: 50px;
}


.social-links {
	list-style: none;
	margin: 0;
	padding: 0;
}

.social-links a:hover {
	text-decoration: none;
}

.social-links li {
	color: #333333;
	font-size: 30px;
	display: inline-block;	
	padding: 10px 20px; 
	margin: 10px;
}

.social-links li i {
	padding-bottom: 5px; 
}

@media(max-width:600px) {
  h1 {
  	font-size: 22px;
  }
	
	h2 {
  	font-size: 18px;
  }

	p {
  	font-size: 14px;
  }

  .beer-photo{
    display: none;
  }

  .container, .beer-description {
  	text-align: center;
  }
}
